@media only screen and (min-width: 64em) {

    .navigation {
        display: flex;
    }

    .icon_group {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .form__group {
        width: 20%;
    }
    ul {
        margin: 0;
    }

    #pims_subhead{
        display:block;
    }

    .sub-links {
        display: none;
    }

}

