
@import url(//db.onlinewebfonts.com/c/9d0967bfe19937b123d26cde0ba6a217?family=Norwester);

@font-face {
    font-family: "Norwester";
    src: url("https://db.onlinewebfonts.com/t/9d0967bfe19937b123d26cde0ba6a217.eot");
    src: url("https://db.onlinewebfonts.com/t/9d0967bfe19937b123d26cde0ba6a217.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/9d0967bfe19937b123d26cde0ba6a217.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/9d0967bfe19937b123d26cde0ba6a217.woff") format("woff"), url("//db.onlinewebfonts.com/t/9d0967bfe19937b123d26cde0ba6a217.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/9d0967bfe19937b123d26cde0ba6a217.svg#Norwester") format("svg");
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');
:root {
    /* --background-color: #1A4860;  Old background color*/
    --text-color: #B44418;
    --heading-color: #B44418;
    --link-color: #B44418;
    --accent2-color: #FCEFEF;
    --font: "Dosis", sans-serif;
    --heading-font: "Norwester";


    --background-color: #122b53;
    --header-color: #d9d9d9;
}

/* HTML selectors */


a, label {
    color: var(--link-color);
    text-decoration: none;
    font-family: var(--font);
    font-size: 2.5em;
    font-weight: 100;
}

footer {
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    flex-wrap: wrap;
    height: 3em;
    justify-content: center;
    align-content: center;
}

header {
    display: grid;
    grid-template-columns: .85fr 1.15fr;
    background-color: var(--header-color);
    margin-bottom: 1.25em;
}

html {
    background-color: var(--background-color);
}

h1 {
    font-family: var(--heading-font);
    color: var(--heading-color);
    font-size: 2em;
    text-align: center;
    margin: 0;
}

h2 {
    font-size: 3em;
    color: var(--heading-color);
    margin: 0 auto;
    text-transform: Uppercase;
}

img {
    /* width: 100%; */
    height: 100%;
    filter: invert(100%);
}

main {
    margin: 0 auto;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0 0 0 0;
}

nav ul li a {
    padding: .5em .25em;
}

p {
    color: var(--text-color);
    font-size: 2em;
}

span {
    padding: 0em 1em;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
}

textarea, select, input {
    width: 20ch;
}

tr {
    border: 1px solid var(--accent2-color);
    padding: 5px 0 5px 0;
}
td {
    padding-left: 5px;
    padding-right: 5px;
}

ul {
    display: block;
    list-style: none;
    margin-left: 0px;
    padding-left: 0;
}




/* 
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
} */


/* Class Selectors */


.links a,
.menu_icon a {
    display: block;
    width: 100%;
    background-color: var(--header-color);
    text-align: center;
    /* padding: 0; */
}

.menu_icon {
    width: 100%;
}

.namecol {
    max-width: 50ch;
    min-width: 15ch;
}

.navigation {
    display: flex;
    list-style: none;
    height: 100%;
    justify-content: center;
    align-content: center;
}

.navigation a {
    text-align: center;
    display: block;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.sub-menu, .sub-links {
    display: none;
    /* justify-content: center;
    align-content: center; */
}

.responsive {
    display: flex;
    list-style: none;
    justify-content: right;
}

.responsive li {
    display: block;
}

.sub_icons, .sub_icons.christmas, .sub_icons.halloween, .sub_icons.thanksgiving, .sub_icons.valentines {
    height: 225px;
    width: 100%;
    align-content: center;
    /* margin-bottom: 1em; */
}

.sub_icons:nth-child(odd) {
    background-color: white;
}

.sub_icons:nth-child(even) {
    background-color: grey;
}


.sub_icons.halloween:nth-child(odd) {
    background-color: darkorange;
}

.sub_icons.halloween:nth-child(even) {
    background-color: black;
}

.sub_icons.halloween:nth-child(even) img{
    filter: invert(25%);
}

.sub_icons.christmas:nth-child(odd) {
    background-color: green;
}

.sub_icons.christmas:nth-child(even) {
    background-color: red;
}

.sub_icons.valentines:nth-child(odd) {
    background-color: pink;
}

.sub_icons.valentines:nth-child(even) {
    background-color: red;
}

.sub_icons.thanksgiving:nth-child(odd) {
    background-color: #FEE05F;
}

.sub_icons.thanksgiving:nth-child(even) {
    background-color:#D45521;
}

.sub_icons.wedding:nth-child(odd) {
    background-color: #678796;
}

.sub_icons.wedding:nth-child(even) {
    background-color:#C7B4C8;


}
.icon_group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}


.form__group {
    position: relative;
    padding: 15px 0 15px 0;
    margin-top: 10px;
    width: 50%;
    margin: 0 auto;
}


.form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid gray;
    outline: 0;
    font-size: 1.3rem;
    color: white;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.form__field:placeholder-shown~.form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
    z-index: -1;
}

.form__field::placeholder {
    color: transparent;
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: gray;
}

.form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #11998e, #38ef7d);
    border-image-slice: 1;
}

.form__field:focus.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #11998e;
    font-weight: 700;
}


.submitbutton {
    background-color: var(--background-color);
    color: var(--link-color);
    border: 1px solid var(--link-color);
    padding: 14px 40px;
    font-size: 1.5em;
}


/* ID Selectors */
#pims_subhead {
    display:none;
}



/* Scrollbar settings */


::-webkit-scrollbar {
    width:0;
}
#scrollPath {
    position: fixed;
    top:0;
    right:0;
    width: 10px;
    height: 100%;
    background-color: rgba(red, green, blue, .05);
}
#progressbar {
    position: fixed;
    top:0;
    right:0;
    width: 10px;
    height: 0;
    background: linear-gradient(to top, #0066cc, #ff9933);
    animation: animate 5s linear infinite;
}

@keyframes animate {
    0%, 100% {
        filter: invert(0%);
    }

    50% {
        filter: invert(100%);
    }
}

#progressbar::before {
    content: '';
    position: fixed;
    top:0;
    right:0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #0066cc, #ff9933);
    filter:blur(30px);
}

#progressbar::after {
    content: '';
    position: fixed;
    top:0;
    right:0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #0066cc, #ff9933);
    filter:blur(30px);
}



/* ::-webkit-scrollbar {
    width: .75em;
    /* height: 1em; 
  }
  
  ::-webkit-scrollbar-track {
    background: var(--header-color);
    border-radius:  0 0 100vw 100vw;
    /* margin-block: 0.5em; 
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--heading-color);
    border: 0.15em solid var(--header-color);
    border-radius: 100vw;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: hsl(120 100% 10% / 1);
  } */