/* :root {
    --background-color: #0C3246;
    --text-color: #B44418;
    --accent1-color: #0C3246;
    --link-color: #9DAD71;
    --accent2-color: #FCEFEF;
} */


@media screen and (min-width: 40em) {


    header {
        grid-template-columns: .3fr 1.7fr;
    }

    nav {
        align-content: center;
    }

    .vert-align {
        position:absolute;
        writing-mode: vertical-rl;
        text-orientation: upright;
        font-size: 10em;
        margin: 0 auto;
    }

    .grid {
        display:grid;
        grid-template-columns: 1fr 5fr;
    }

    .block-main {
        grid-column: 2/3;
    }

    .navigation {
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    
    .navigation li {
        display: flex;
    }
    
    .navigation li:first-child {
        display: none;
    }
    


    .icon_group {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .form__group {
        width: 30%;
    }
}