{% extends "base.html" %}

{% block main %}
<div class="form__group">
<input type="text" class="form__field" placeholder="Seach for items..." name="search" onkeyup="listSearch()" id="myInput"/>
<label for="search" class="form__label">Search for Items...</label>
</div>

{% if container %}
    <ul id='tableList'>
        {% for contents in container %}
            <li><a href='#'>{{ contents.name }} | {{ contents.quantity }} {{contents.row_letter}}{{contents.column_number}}</a></li>
        {% endfor %}
    </ul>
{% else %}
<h1>NOT WORKING ATM</h1>
{% endif %}

</div>
{% endblock %}