{% extends "base.html" %}
{% load static %}

{% block title %}Containers{% endblock %}

{% block main %}
<!-- <input type="text" id="myInput" onkeyup="listSearch()" class="input_text" placeholder="Search for containers.."/> -->
<div class="form__group">
    <input type="text" class="form__field" placeholder="Seach for containers..." name="search" onkeyup="listSearchTable()" id="myInput" />
    <label for="search" class="form__label">Search for containers...</label>
</div>
<table id='tableList'>
    {% for containers in container %}
    <tr>
        <td class='namecol'><a href="{% url 'pims:contents' containers.id %}">{{ containers }}</a></td>
        <td><a href="{% url 'pims:editContainer' containers.id %}"> <img src="{% static 'pims/pencil.svg' %}" alt="edit icon" /></a></td>
        <td><a href="{% url 'pims:deleteContainer' containers.id %}"> <img src="{% static 'pims/trash.svg' %}" alt='delete icon' /> </a></td>
    </tr>
    {% endfor %}
</table>

<p>Don't see the container you are looking for? Has it been created yet? </p>
<a href="{% url 'pims:addCont' %}">Create it here!</a>

{% endblock %}