{% extends "base.html" %}

{% block title %}Contents{% endblock %}

{% block main %}

<a href="{% url 'pims:editContainer' container.first.container.id %}">{{container.first.container}}</a>

<div class="form__group">
<input type="text" class="form__field" placeholder="Seach for items..." name="search" onkeyup="listSearchTable()" id="myInput"/>
<label for="search" class="form__label">Search for Items...</label>
</div>

{% if container %}
<table id='tableList'>
   
        {% for contents in container %}
        <tr>
        <td class='namecol'><a href="{% url 'pims:editItem' contents.id %}">{{ contents.item }} </a></td>
        <td><a href="{% url 'pims:editItem' contents.id %}">{{ contents.quantity }}</a></td>
        <td><a href="{% url 'pims:editItem' contents.id %}">edit</a></td>
        </tr>
        {% endfor %}
    
</table>
{% else %}
<h1>There are no items in this container.</h1>
{% endif %}

</div>
{% endblock %}