{% extends "base.html" %}
{% load static %}
{% block main %}
<span class='icon_group'>
    <div class="sub_icons"><a href ="{% url 'pims:season'  %}"><img src="{% static 'pims/Spring.svg' %}" alt="Spring Icon"/></a></div>
    <div class="sub_icons"><img src="{% static 'pims/Summer.svg' %}" alt="Summmer Icon"/></div>
    <div class="sub_icons"><img src="{% static 'pims/Fall.svg' %}" alt="Fall Icon"/></div>
    <div class="sub_icons"><img src="{% static 'pims/Winter.svg' %}" alt="Winter Icon"/></div>
    <div class="sub_icons" style="display: none;"></div>
    <div class="sub_icons"><img src="{% static 'pims/Home Goods.svg' %}" alt="Home Goods Icon"/></div>
    <div class="sub_icons"><img src="{% static 'pims/Toiletries.svg' %}" alt="Toiletries Icon"/></div>
    <div class="sub_icons"><img src="{% static 'pims/Baby/Baby Blank.svg' %}" alt="Baby  Icon"/></div>
    <div class="sub_icons"><img src="{% static 'pims/Toilet Paper.svg' %}" alt=""/></div>
</span>
{% endblock %}