{% extends "base.html" %}

{% block title %}Seasons{% endblock %}

{% block main %}
<div class="form__group">
<input type="text" class="form__field" placeholder="Seach for seasons..." name="search" onkeyup="listSearch()" id="myInput"/>
<label for="search" class="form__label">Search for containers...</label>
</div>
    <ul id='tableList'>
        {% for containers in season %}
            <li><a href="{% url 'pims:contents' containers.id %}">{{ containers }}</a></li>
        {% endfor %}
    </ul>

{% endblock %}