{% extends "base.html" %}
{% load static %}

{% block title %}
Style Guide
{% endblock %}

{% block head %}
<link type="text/css" rel="stylesheet" href="{% static 'styleGuide.css' %}">  
{% endblock  %}



{% block main %}


    <header>
      <h1>PIMS Site Plan</h1>
      <h2>Ryan Price</h2>
    </header>
    <main>

      <!-- ------------------------Steps 2-3------------------------------ -->
      <h2>Overview</h2>
      <hr>
      <h3>Purpose</h3>
      <p>This website is going to provide users with a home inventory system that will help track items, quantities, and in the worst case scenario help with insurance when tradgedies hit.</p>  <!-- change this -->


      <h3>Audience</h3>
      <p>The audience will be users looking to store items in the database and have them logically locatable through a container system and QR codes.</p>  <!-- change this -->


      <h2>Branding</h2>
      <h3>Website Logo</h3>
      <!-- Replace this with some sort of logo for your site.  A logo can be as simple as the name of your site in a nice font :) -->
      <h1>
        WIP
      </h1>
      <hr>
      <h2>
        Style Guide
      </h2>

      <!-- ------------------------Steps 4-8------------------------------ -->

      <h3>
        Color Palette
      </h3>
      <!--  The colors you choose for a website are one of the most important decisions you will make. Follow the instructions on the activity in iLearn then return and replace the color codes below with the hex color codes (the 6 digit numbers that show at the bottom of each color) for the colors you have chosen below.  You should have at least 2 colors but do not have to fill in all 4 if you do not need them.  -->

      <!-- Copy and paste the URL to your finished palette below Make sure to paste it into both spots -->
      Palette URL: <a href="https://coolors.co/678796-4f7383-e0d2e0-c5d2d8-65846c" target="_blank">https://coolors.co/678796-4f7383-e0d2e0-c5d2d8-65846c</a>


      <table class="colors">
        <tr><th>Primary</th><th>Secondary</th><th>Accent 1</th><th>Accent 2</th><th>Accent 3</th></tr>
        <!-- Replace the numbers in the boxes below with your hex color codes. Then switch to the site-plan.css file and change your colors there as well. -->
        <tr><td class="primary">[#678796]</td><td class="secondary">[#E0D2E0]</td><td class="accent1">[#4F7383]</td><td class="accent2">[#C5D2D8]</td><td class="accent3">[#65846C]</td></tr>
      </table>

      <!-- ------------------------Step 9------------------------------ -->

      <h3>
        Typography
      </h3>
      <!-- Choose a font for your paragraphs (body copy) and headlines. What font(s) have you chosen? Why did you choose what you did?  Make sure to review the list of web safe fonts at W3Schools.org as a starting point.  Think also about which of your colors above you might use for background and font colors. -->

      <h4>
        Heading Font:  <!-- change this -->
      </h4>

      <h4>
        Paragraph Font:   <!-- change this -->
      </h4>

      <h4>
        Normal paragraph example
      </h4>
      <p>
        {% lorem 1 b random%}
      </p>
      <h4>
        Colored paragraph example
      </h4>
      <p class="colored">
        {% lorem 1 b random %}
      </p>

      <!-- ------------------------Step 10------------------------------ -->

      <h3>
        Navigation
      </h3>
      <!-- Think about how you want your navigation bar to look. In the site-plan.css file change the colors to your colors to get the look you desire. --> 
      <p> See above</p>
      <hr>
      <h2>
        Site Map: 
      </h2>
      <a href={% url 'pims:sitePlan' %}>See at this link</a>
        <div class="top">
          &nbsp;
        </div>
        <div class="left">
          &nbsp;
        </div>
        <div class="right">
          &nbsp;
        </div>

      </div>

      <!-- --------Content Section -------------- -->
      <hr>
      <h2>
        Content
      </h2>
      <h3>Home page</h3>
      <p>
        {% lorem 1 b random %}
      </p>
  
      <h3>Items and sub pages</h3>
      <p>
        {% lorem 1 b random %}
      </p>

      <h3>Containers and sub pages</h3>
      <p>
        {% lorem 1 b random %}
      </p>

      <h3>Item in Containers (I2C) and sub pages</h3>
      <p>
        {% lorem 1 b random %}
      </p>
      <hr>



{% endblock %} 