{% extends 'base.html' %}

{% block main %}
<div class="form__group">
<input type="text" class="form__field" placeholder="Seach for items..." name="search" onkeyup="listSearch()" id="myInput"/>
<label for="search" class="form__label">Search for Items...</label>
</div>
{% if item %}
    <ul id='tableList'>
        {% for items in item %}
            <li><a href='#'>{{items}}   {{ items.name }} | {{ items.quantity }} {{items.row_letter}}</a></li>
        {% endfor %}
    </ul>
{% else %}
<h1>NOT WORKING ATM</h1>
{% endif %}


{% endblock %}