:root {
    --background-color: #BEDCE2;
    --text-color: #4D7298;
    --accent1-color: #E2B48E;
    --link-color: #2D3142;
}

/* HTML selectors */

a {
    color:var(--link-color);
    font-family: 'Bebas Neue', cursive;
    text-decoration: none;

}
footer {
    background-color: var(--accent1-color);
    color:var(--text-color);
    display:flex;
    flex-wrap: wrap;
    height: 3em;
    justify-content: center;
    align-content: center;
}

form {
    background-color: lightgray;
    width:50%;
    margin: 2em auto;
    padding-bottom: 1em;
}

input, select, textarea {
    margin-top: 10px;
    justify-self: center;
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
}

header {
    background-color: var(--accent1-color);
    display:grid;
    grid-template-columns: .75fr 1.25fr;
}

header h1 {
    align-self: bottom;
    color:var(--text-color);
    grid-column: 2/3;
    grid-row:1/2;
    margin: .25em;
}

header h3 {
    align-self: top;
    color: var(--text-color);
    grid-column: 2/3;
    grid-row: 2/3;
    margin: .25em;
}

html {
    background-color: var(--background-color);
}

main {
    margin: 0 auto;
    width:90%;
    text-align: center;
}

p {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

ul {
    display: block;
    list-style: none;
    margin-left: 0px;
}